body{
	background-color:#CC0000
	}

#wrapper{
	max-width: 800px;
	width: 90%;
	background-color:#FFFFFF;
	margin:10px auto;
	border: 1px solid #000000;
	padding: 1em
}

.rightimage{
	float: right;
	margin: 0 0 20px 15px;
	border: 1px solid #000000;
	}

/* Nav bar with hover lighting*/
nav{
/*border-bottom: 1px solid #000000;*/
}

nav ul{
text-align:center;
padding: 0;
margin: 0;
/*background-color:#006291;*/
}

nav ul li{
display: inline;
padding: 0;
margin: 0;
}

nav ul li a{
	font-size: 80%;
	/*color: #FFFFFF;*/
	/*background-color: #006291;*/
	text-decoration: none;
	padding: 0 25px 0 25px;
	border-right: 1px solid #000000;
	text-align: center;
	width: 9em;
}

nav ul li a:hover, nav ul li a:focus{
	background-color: #7EC6F2;
}

/*.leftimage{
	float: left;
	border: 1px solid #-000;
	margin-top: 25px;
	margin-right: 350px;
	margin-bottom: 20px;
	margin-left: 15px;
	padding-left: 300px;
	}
*/
#wrapperLogo{
	/*width: 97px;*/
	background-color:none;
	/*margin:10px auto;*/
	/*border: 1px solid #000000;*/
	/*padding: 1em;*/
	float:left;
}

img {max-width:100%;}

<!-- changes with screan size -->
@media screen and (max-width:500px) {

		body {
			background-color:#FC6;
			}

		.rightimage {
			float: left;
			}
			
		p {
			display:block;
			clear:both;}
			.logo {display:none;}
	}
	
@media screen and (max-width:265px){
	.rightimage{
		display:none;
	}
